# Imports

In [46]:
import os
import pandas as pd
import numpy as np
import json

# Move Type Usage Code Below

In [47]:
usagedf = pd.read_csv("Pokemon Usage/SeptemberData.csv",index_col=0).rename(columns = {'index':"name"})
usagedf.head()

,name,Moves,Usage,Gen,Format,Min Rating,Recent
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4,ou,0.0,1
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4,ou,0.0,1
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4,ou,0.0,1
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4,ou,0.0,1
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4,ou,0.0,1

In [48]:
movesdf = pd.read_csv("Pokedex and Moves/moves.csv", index_col=0).set_index('move')
movesdf.head()

                                                name      type
move
10000000voltthunderbolt  10,000,000 Volt Thunderbolt  Electric
absorb                                        Absorb     Grass
accelerock                                Accelerock      Rock
acid                                            Acid    Poison
acidarmor                                 Acid Armor    Poison

In [50]:
def standardize_moves(df):
    type1 = []
    type2 = []
    type3 = []
    type4 = []
    type5 = []
    type6 = []
    type_list = [type1, type2, type3, type4, type5, type6]

    for row in range(len(df["Moves"])):
        moves = df["Moves"][row].strip('][').split(', ')
        list_num = 0
        for each in range(6):
            if each >= len(moves):
                move_type = np.nan
                type_list[list_num].append(move_type)
                list_num += 1

            else:
                string = moves[each].replace("'","")
                if (string) == "":
                    move_type = np.nan
                    type_list[list_num].append(move_type)
                    list_num += 1
                else:
                    move_type = movesdf.loc[string]['type']
                    type_list[list_num].append(move_type)
                    list_num += 1
    df["Type 1"] = type_list[0]
    df["Type 2"] = type_list[1]
    df["Type 3"] = type_list[2]
    df["Type 4"] = type_list[3]
    df["Type 5"] = type_list[4]
    df["Type 6"] = type_list[5]

    return df

In [51]:
usagemovesdf = standardize_moves(usagedf)
usagemovesdf.head()

,name,Moves,Usage,Gen,Format,Min Rating,Recent,Type 1,Type 2,Type 3,Type 4,Type 5,Type 6
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4,ou,0.0,1,Steel,Normal,Ground,Rock,Psychic,Water
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4,ou,0.0,1,Ground,Rock,Water,Ice,Ice,Normal
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4,ou,0.0,1,Normal,Dark,Ground,Ghost,Psychic,Fire
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4,ou,0.0,1,Rock,Bug,Electric,Psychic,Psychic,Psychic
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4,ou,0.0,1,Fighting,Dark,Steel,Ice,Rock,Normal

In [52]:
usagemovesdf[["Type 1", "Type 2", "Type 3","Type 4","Type 5","Type 6"]]["Type 1"].value_counts()

Normal      395
Ground      283
Flying      164
Dark        161
Fighting    161
Water       154
Steel       153
Grass       134
Electric    131
Dragon      130
Ice         121
Fairy       116
Rock        110
Fire        107
Ghost       103
Bug         103
Psychic      96
Poison       68
Name: Type 1, dtype: int64

# Type Usage Code Below

In [58]:
usagedf = pd.read_csv("Pokemon Usage/SeptemberData.csv",index_col=0).rename(columns = {'index':"name"})
usagedf.head()

,name,Moves,Usage,Gen,Format,Min Rating,Recent
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4,ou,0.0,1
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4,ou,0.0,1
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4,ou,0.0,1
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4,ou,0.0,1
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4,ou,0.0,1

In [59]:
pokedexdf = pd.read_csv("Pokedex and Moves/pokemon.csv", index_col=0).set_index('name')[['types','type2']]
pokedexdf.head()

            types   type2
name
Bulbasaur   Grass  Poison
Ivysaur     Grass  Poison
Venusaur    Grass  Poison
Charmander   Fire     NaN
Charmeleon   Fire     NaN

In [60]:
usagetypesdf = usagedf.join(pokedexdf, on="name").rename(columns={'types': "Type 1", "type2": "Type 2"})
usagetypesdf.head()

,name,Moves,Usage,Gen,Format,Min Rating,Recent,Type 1,Type 2
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4,ou,0.0,1,Steel,Psychic
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4,ou,0.0,1,Water,Ground
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4,ou,0.0,1,Normal,NaN
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4,ou,0.0,1,Psychic,NaN
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4,ou,0.0,1,Fighting,NaN