# Imports

In [1]:
import os
import pandas as pd
import numpy as np
import json

# Move Type Usage Code Below

In [4]:
recentdf = pd.read_csv("Pokemon Usage/SeptemberData.csv",index_col=0).rename(columns = {'index':"name"})
recentdf.head()

,name,Moves,Usage,Gen,Format,Min Rating,Recent
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4,ou,0.0,1
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4,ou,0.0,1
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4,ou,0.0,1
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4,ou,0.0,1
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4,ou,0.0,1

In [5]:
olddf =  pd.read_csv("Pokemon Usage/OldData.csv",index_col=0).rename(columns = {'index':"name"})
olddf.head()

,name,Moves,Usage,Gen,Format,Min Rating,Recent
0,Porygon-Z,"['triattack', 'darkpulse', 'icebeam', 'thunder...",0.030726,4.0,ou,0.0,0
1,Bronzong,"['explosion', 'stealthrock', 'gyroball', 'refl...",0.024441,4.0,ou,0.0,0
2,Swampert,"['earthquake', 'stealthrock', 'roar', 'icebeam...",0.138966,4.0,ou,0.0,0
3,Spiritomb,"['rest', 'willowisp', 'pursuit', 'sleeptalk', ...",0.029330,4.0,ou,0.0,0
4,Snorlax,"['rest', 'bodyslam', 'curse', 'crunch', 'earth...",0.036313,4.0,ou,0.0,0

In [6]:
usagedf = recentdf.merge(olddf, how='outer')
usagedf

,name,Moves,Usage,Gen,Format,Min Rating,Recent
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4.0,ou,0.0,1
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4.0,ou,0.0,1
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4.0,ou,0.0,1
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4.0,ou,0.0,1
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4.0,ou,0.0,1
...,...,...,...,...,...,...,...
5911,Charizard,"['solarbeam', 'fireblast', 'hurricane', 'airsl...",0.030482,8.0,ubers,0.0,0
5912,Shuckle,"['stickyweb', 'stealthrock', 'encore', 'finalg...",0.045773,8.0,ubers,0.0,0
5913,Hatterene,"['mysticalfire', 'psychic', 'dazzlinggleam', '...",0.026064,8.0,ubers,0.0,0
5914,Zacian-Crowned,"['behemothblade', 'playrough', 'swordsdance', ...",0.921806,8.0,ubers,0.0,0
5915,Hydreigon,"['dracometeor', 'nastyplot', 'flamethrower', '...",0.033010,8.0,ubers,0.0,0

In [7]:
movesdf = pd.read_csv("Pokedex and Moves/moves.csv", index_col=0).set_index('move')
movesdf.head()

                                                name      type
move
10000000voltthunderbolt  10,000,000 Volt Thunderbolt  Electric
absorb                                        Absorb     Grass
accelerock                                Accelerock      Rock
acid                                            Acid    Poison
acidarmor                                 Acid Armor    Poison

In [8]:
def standardize_moves(df):
    type1 = []
    type2 = []
    type3 = []
    type4 = []
    type5 = []
    type6 = []
    type_list = [type1, type2, type3, type4, type5, type6]

    for row in range(len(df["Moves"])):
        moves = df["Moves"][row].strip('][').split(', ')
        list_num = 0
        for each in range(6):
            if each >= len(moves):
                move_type = np.nan
                type_list[list_num].append(move_type)
                list_num += 1

            else:
                string = moves[each].replace("'","")
                if (string) == "":
                    move_type = np.nan
                    type_list[list_num].append(move_type)
                    list_num += 1
                else:
                    move_type = movesdf.loc[string]['type']
                    type_list[list_num].append(move_type)
                    list_num += 1
    df["Type 1"] = type_list[0]
    df["Type 2"] = type_list[1]
    df["Type 3"] = type_list[2]
    df["Type 4"] = type_list[3]
    df["Type 5"] = type_list[4]
    df["Type 6"] = type_list[5]

    return df

In [9]:
usagemovesdf = standardize_moves(usagedf)
usagemovesdf.head()

,name,Moves,Usage,Gen,Format,Min Rating,Recent,Type 1,Type 2,Type 3,Type 4,Type 5,Type 6
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4.0,ou,0.0,1,Steel,Normal,Ground,Rock,Psychic,Water
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4.0,ou,0.0,1,Ground,Rock,Water,Ice,Ice,Normal
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4.0,ou,0.0,1,Normal,Dark,Ground,Ghost,Psychic,Fire
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4.0,ou,0.0,1,Rock,Bug,Electric,Psychic,Psychic,Psychic
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4.0,ou,0.0,1,Fighting,Dark,Steel,Ice,Rock,Normal

In [10]:
usagemovesdf[["Type 1", "Type 2", "Type 3","Type 4","Type 5","Type 6"]]["Type 1"].value_counts()

Normal      835
Ground      609
Flying      370
Dark        345
Fighting    344
Water       333
Grass       330
Steel       317
Dragon      316
Fairy       283
Fire        262
Electric    261
Bug         254
Ghost       235
Ice         234
Rock        224
Psychic     193
Poison      135
Name: Type 1, dtype: int64

# Type Usage Code Below

In [11]:
usagedf = recentdf.merge(olddf, how='outer')
usagedf.head()

,name,Moves,Usage,Gen,Format,Min Rating,Recent
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4.0,ou,0.0,1
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4.0,ou,0.0,1
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4.0,ou,0.0,1
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4.0,ou,0.0,1
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4.0,ou,0.0,1

In [12]:
pokedexdf = pd.read_csv("Pokedex and Moves/pokemon.csv", index_col=0).set_index('name')[['types','type2']]
pokedexdf.head()

            types   type2
name
Bulbasaur   Grass  Poison
Ivysaur     Grass  Poison
Venusaur    Grass  Poison
Charmander   Fire     NaN
Charmeleon   Fire     NaN

In [13]:
usagetypesdf = usagedf.join(pokedexdf, on="name").rename(columns={'types': "Type 1", "type2": "Type 2"})
usagetypesdf

,name,Moves,Usage,Gen,Format,Min Rating,Recent,Type 1,Type 2
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4.0,ou,0.0,1,Steel,Psychic
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4.0,ou,0.0,1,Water,Ground
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4.0,ou,0.0,1,Normal,NaN
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4.0,ou,0.0,1,Psychic,NaN
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4.0,ou,0.0,1,Fighting,NaN
...,...,...,...,...,...,...,...,...,...
5911,Charizard,"['solarbeam', 'fireblast', 'hurricane', 'airsl...",0.030482,8.0,ubers,0.0,0,Fire,Flying
5912,Shuckle,"['stickyweb', 'stealthrock', 'encore', 'finalg...",0.045773,8.0,ubers,0.0,0,Bug,Rock
5913,Hatterene,"['mysticalfire', 'psychic', 'dazzlinggleam', '...",0.026064,8.0,ubers,0.0,0,Psychic,Fairy
5914,Zacian-Crowned,"['behemothblade', 'playrough', 'swordsdance', ...",0.921806,8.0,ubers,0.0,0,Fairy,Steel
5915,Hydreigon,"['dracometeor', 'nastyplot', 'flamethrower', '...",0.033010,8.0,ubers,0.0,0,Dark,Dragon