In [15]:
import pandas as pd
import numpy as np

In [16]:
moves = pd.read_json("moves.json")
moves = moves.T
moves = moves.loc[:,["name", "type"]]
moves = moves.reset_index()
moves.rename(columns = {"index":"move"}, inplace=True)
moves

                        move                         name      type
0    10000000voltthunderbolt  10,000,000 Volt Thunderbolt  Electric
1                     absorb                       Absorb     Grass
2                 accelerock                   Accelerock      Rock
3                       acid                         Acid    Poison
4                  acidarmor                   Acid Armor    Poison
..                       ...                          ...       ...
854                     yawn                         Yawn    Normal
855                zapcannon                   Zap Cannon  Electric
856              zenheadbutt                 Zen Headbutt   Psychic
857                  zingzap                     Zing Zap  Electric
858                 zippyzap                    Zippy Zap  Electric

[859 rows x 3 columns]

In [22]:
pokemon = pd.read_json("pokedex.json")

#takes column name and row name and flips them
pokemon = pokemon.T 
pokemon = pokemon.iloc[0:1155, :]

#deletes all columns except for name and types
pokemon = pokemon.loc[:,["name", "types"]]
pokemon = pokemon.reset_index()

#renames index to be pokemon
pokemon.rename(columns = {"index":"pokemon"}, inplace=True)

#drop rows that contain the partial string "gmax or mega" in the pokemon column

pokemon = pokemon[~pokemon.pokemon.str.contains("gmax")]
pokemon = pokemon[~pokemon.name.str.contains("-Mega")]

pokemon

            pokemon            name             types
0         bulbasaur       Bulbasaur   [Grass, Poison]
1           ivysaur         Ivysaur   [Grass, Poison]
2          venusaur        Venusaur   [Grass, Poison]
5        charmander      Charmander            [Fire]
6        charmeleon      Charmeleon            [Fire]
...             ...             ...               ...
1150      glastrier       Glastrier             [Ice]
1151      spectrier       Spectrier           [Ghost]
1152        calyrex         Calyrex  [Psychic, Grass]
1153     calyrexice     Calyrex-Ice    [Psychic, Ice]
1154  calyrexshadow  Calyrex-Shadow  [Psychic, Ghost]

[1073 rows x 3 columns]

In [ ]:
type1 = []
type2 = []

#pokemon.dtypes

#breaks the types into their own columns, puts None if there's no secondary type
for x in pokemon["types"]:
    type1.append(x[0])
    if (len(x) == 2):
        type2.append(x[1])
    else:
        type2.append(None)

pokemon["types"] = type1
pokemon["type2"] = type2
pokemon

            pokemon            name    types   type2
0         bulbasaur       Bulbasaur    Grass  Poison
1           ivysaur         Ivysaur    Grass  Poison
2          venusaur        Venusaur    Grass  Poison
3      venusaurmega   Venusaur-Mega    Grass  Poison
4      venusaurgmax   Venusaur-Gmax    Grass  Poison
...             ...             ...      ...     ...
1150      glastrier       Glastrier      Ice    None
1151      spectrier       Spectrier    Ghost    None
1152        calyrex         Calyrex  Psychic   Grass
1153     calyrexice     Calyrex-Ice  Psychic     Ice
1154  calyrexshadow  Calyrex-Shadow  Psychic   Ghost

[1155 rows x 4 columns]